<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Cake Deco</title>
        <link rel="stylesheet" href="TemplateStyle.css">
    </head>

    <body data-theme="light">
        <div id="navbar">
            <div class="banner">
                <div id="logo"></div>

                <p class="theme light">Light</p>

                <div class="theme-switcher">
                    <input type="checkbox" id="switcher">
                    <label for=switcher>switch</label>
                </div>        

                <p class="theme dark">Dark</p>
            </div>
            

            <header>
                <nav>
                    <ul>
                        <li>
                            Home
                        </li>
                        <li>
                            <div class="dropdown">
                                <button id="Dropdown" type="button">Events &#9660;</button>

                                <div class="dropdown-menu">
                                    <ul>
                                        <li>&#xbb; Gallery</li>
                                        <li>&#xbb; Workshop</li>
                                        <li class="sub">&#xbb; St Valentine's Day</li>
                                        <li class="sub">&#xbb; Mother's Day</li>
                                        <li class="sub">&#xbb; National Cake Deco Day</li>
                                        <li class="sub"> &#xbb; Christmas</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            Blog
                        </li>
                        <li>
                            About Us
                        </li>
                        <li>
                            <button id="register" type="button">Join Club</button>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        <script src="main.js"></script>
    </body>




    <footer>
        <nav>
            <div class="link">
                <ul>
                    <li>
                        Sitemap
                    </li>
                    <li>
                        Contact Us
                    </li>
                </ul>
            </div>

            <div id="line"></div>
            
            <div class="foot">
                <div id="logo"></div>
                <br>
                <p id="cpyr">Copyrights &copy Cake Deco - All Rights Reserved</p>
            </div>

                
        </nav>

    </footer>

</html>