#banner{
    border-top: 4px solid white;
    max-width: 100%;
  }


  .list_post{
    padding-top: 50px;
    padding-left: 30px;
  }

  .flexbox{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .card:hover{
    transform: translateY(20px);
  }

  .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(251, 228, 212,0.7), rgba(203, 156, 150,0.7));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }

  .card:hover::before{
    opacity: 1;
  }

  .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card .info{
    position: relative;
    z-index: 3;
    background: transparent;
    color: var(--color-3);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }

  .card h1, .card p{
    background: transparent;
  }

  .card:hover .info{
    opacity: 1;
    transform: translateY(0px);
  }

  .card .info h1{
    margin: 0;
  }

  .card .info p{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px ;
    margin-bottom: 20px;
  }

  .card .info .post-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  .card .info .post-link:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  }

  .workshop{
    padding-top: 50px;
  }

  .workshop h1{
    margin-left: 30px;
    padding-bottom: 30px;
  }

  #slider{
    margin: 0 auto;
    width: 800px;
    max-width: 60%;
  }

  #slider input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  #slider label{
    cursor: pointer;
    text-decoration: none;
  }

  #events{
    padding: 3px;
    border: solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
  }

  #overflow{
    width: 100%;
    overflow: hidden;
  }

  #event1:checked ~ #events .inner{
    margin-left: 0;
  }

  #event2:checked ~ #events .inner{
    margin-left: -100%;
  }

  #event3:checked ~ #events .inner{
    margin-left: -200%;
  }

  #event4:checked ~ #events .inner{
    margin-left: -300%;
  }

  #events .inner{
    transition: margin-left 800ms cubic-bezier(0.770,0.000,0.175,1.000);
    width: 400%;
    line-height: 0;
    height: 320px;
  }

  #events .slide{
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
  }

  #events a img{
    width: 100%;
    height: 100%;
  }



#btn {
  margin: 15px 0 0;
  text-align: center;
}
#btn label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}

#event1:checked ~ #btn label:nth-child(1),
#event2:checked ~ #btn label:nth-child(2),
#event3:checked ~ #btn label:nth-child(3),
#event4:checked ~ #btn label:nth-child(4) {
  background: #444;
}


@media(max-width: 950px){
  .flexbox{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}


@media(max-width: 600px){
  #events .inner{
    /* transition: margin-left 800ms cubic-bezier(0.770,0.000,0.175,1.000);
    width: 400%;
    line-height: 0; */
    height: 200px;
  }
}