.rule{
    padding-top: 185px;
    margin-left: 150px;
}

.rule h1{
    font-size: 30pt;
    padding-bottom: 20px;
}

.rule .para{
    padding-left: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
    letter-spacing: 1px;
    margin: 6px;
    font-size: 22px;
}

p.modify a{
    color:var(--color-5) ; 
}



@media(max-width: 600px){
    .rule{
        margin-left: 30px;
        margin-right: 5px;
    }

    .rule h1{
        font-size: 22pt;
        padding-bottom: 20px;
    }
    

    .rule h2{
        font-size: 18pt;
        margin-left: 20px;
    }

    .rule .para{
        padding-left: 40px;
        padding-right: 10px;
        padding-bottom: 50px;
        letter-spacing: 3px;
        font-size: 18px;
    }
  }


  @media(max-width: 900px){
    .rule{
        margin-left: 30px;
    }

    .rule h1{
        padding-bottom: 20px;
    }
    
    .rule h2{
        margin-left: 20px;
    }

    .rule .para{
        padding-left: 40px;
        padding-right: 10px;
        padding-bottom: 50px;
        letter-spacing: 3px;
    }
  }