.rule{
    padding-top: 150px;
    margin-left: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

.rule h1{
    font-size: 30pt;
    padding-top:40px; 
    padding-bottom:20px;
}
.rule img {
    padding: 5px;
    padding-bottom:10px;
    width: 49%;
    height: auto;
    object-fit: cover;
  }

.rule .CakeStyle1 img {
    padding: 5px;
    padding-bottom:10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.rule .CakeStyle2 img {
    padding: 5px;
    padding-bottom:10px;
    width: 49%;
    height: auto;
    object-fit: cover;
}
  