#top{
    padding-top: 172px;
}
  
#poster{
    border-top: 4px solid white;
    max-width: 100%;
}
.event{
  padding-top: 20px;
  padding-left: 50px;
}

.event h1{
  font-size: 30pt;
  padding-bottom: 20px;
}

.event h2{
  font-size: 20pt;
  padding-bottom: 20px;
}

.event .para{
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 50px;
  letter-spacing: 1px;
  margin: 6px;
  font-size: 22px;
}

.event .para p{ 
  padding-bottom: 30px;
}

.event p.indent{ 
  padding-left: 5%;
}

.event .para a{ 
  color:var(--color-3) ; 
}

.event p.modify a{
  color:var(--color-5) ; 
}

.cakes{
  padding-left: 25%;
  padding-bottom: 30px;
}
.cakes img{
  padding: 3px;
  border: solid #ccc;
  width: 70%;
  height: auto;
  object-fit: cover;
}

@media(max-width: 900px){
  .event{
      padding-left: 0;
      margin-left: 30px;
  }

  .event h1{
      font-size: 25pt;
  }
  
  .event h2{
      font-size: 18pt;
      padding-left: 10px;
      margin-left: 20px;
  }

  .event .para{
    font-size: 18px;
  }

  .event p.indent{ 
    padding-left: 10%;
  }
  
}

@media(max-width: 600px){
  .event h1{
      font-size: 22pt; 
  }
  
  .event h2{
      font-size: 16pt;
  }

  .event .para{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
  }

  .event p.indent{ 
    padding-left: 10%;
  }
  
}