.blog {
    padding-top: 150px;
    padding-left: 30px;

}

.flexbox {
    display: flexbox;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    background: transparent;
}

.bigbox {
    width: 95%;
    height: 100%;
    background-color: var(--color-2);
}

.techniques,
.tools,
.influencers {
    width: 220px;
    height: 300px;
    padding: 2rem 1rem;
    background: transparent;
    position: relative;
    display: block;
}

.box {
    flex: 0 0 40%;
}


.blog img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10%;
    padding-top: 9%;
    background-color: var(--color-2);
}

.info h1 {
    padding-left: 550px;
    padding-bottom: 30px;
    white-space: nowrap;
    background-color: var(--color-2);
}

.info p {
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-left: 350px;
    padding-top: 10%;
    white-space: nowrap;
    background-color: var(--color-2);

}


.post-link{
    margin-left: 600px;
    background-color: whitesmoke;
    font-size: 18px;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.post-link:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  }