.techniques {
    padding-top: 185px;
    padding-left: 50px;
}

.techniques h1 {
    font-size: 30pt;
    padding-bottom: 20px;
}

.techniques h2 {
    font-size: 21pt;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 35px;
}

.techniques p {
    padding-left: 30px;
    padding-right: 100px;
    letter-spacing: 1px;
    margin: 6px;
    font-size: 22px;
}

.techniques img {
    padding-left: 100px;
    padding-right: 100px;
    width: 80%;
    height:auto;
    object-fit: cover;
}

@media(max-width: 900px){
    .techniques{
        padding-left: 0;
        margin-left: 30px;
    }

    .techniques h1{
        font-size: 22pt;
        padding-bottom: 20px;
    }
    
    .techniques h2{
        font-size: 16pt;
        padding-left: 10px;
        margin-left: 20px;
    }

    .techniques p{
        padding-left: 20px;
        padding-right: 10px;
        letter-spacing: 3px;
        font-size: 17px;
    }
    .techniques img {
        padding-left: 100px;
        padding-right: 50px;
    }
  }

@media(max-width: 600px){
    .techniques{
        margin-left: 30px;
        margin-right: 5px;
    }    
    .techniques p{
        font-size: 16px;
    }
  }