.tools {
    padding-top: 185px;
    padding-left: 50px;
}

.tools h1 {
    font-size: 30pt;
    padding-bottom: 20px;
}

.tools h2 {
    font-size: 21pt;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 35px;
}

.tools p {
    padding-left: 30px;
    padding-right: 170px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    margin: 6px;
    font-size: 22px;
    text-align: left;
}

.tools img {
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 30px;
    width: 85%;
    height: 85%;
    object-fit: cover;
}