.influ {
  padding-top: 185px;
  padding-left: 50px;
}

.influ h1 {
  font-size: 30pt;
  padding-bottom: 20px;
}

.influ h2 {
  font-size: 21pt;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 35px;
}

.influ p {
  padding-left: 30px;
  padding-right: 100px;
  letter-spacing: 1px;
  margin: 6px;
  font-size: 22px;
}

.influ img {
  padding-left: 100px;
  padding-right: 100px;
  width: 75%;
  height:auto;
  object-fit: cover;
}

.influ .modify{
    font-size:18pt;
    padding:5px;
    padding-left:200px;
    padding-right: 30%;
    padding-bottom:20px;
}

.influ .modify a{
    color:var(--color-5) ; 
}

@media(max-width: 900px){
  .influ{
      padding-left: 0;
      margin-left: 30px;
  }

  .influ h1{
      font-size: 22pt;
      padding-bottom: 20px;
  }
  
  .influ h2{
      font-size: 16pt;
      padding-left: 10px;
      margin-left: 20px;
  }

  .influ p{
      padding-left: 20px;
      padding-right: 10px;
      letter-spacing: 3px;
      font-size: 17px;
  }
  .influ img {
      width: 95%;
      padding-left: 100px;
      padding-right: 50px;
  }
  .influ .modify{
    padding-left:180px;
    padding-right: 20%;
    font-size:17pt;
  }
}

@media(max-width: 600px){
  .influ{
      margin-left: 30px;
      margin-right: 5px;
  } 
  .influ p{
      font-size: 16px;
  }  
  
  .influ .modify{
    padding-left:150px;
    font-size:14pt;
  }
}