* {
    box-sizing: border-box;
}

.box * {
    background-color: transparent;
}

.events {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 0 30%;
    background: var(--color-2);
}

.registerform {
    padding-top: 185px;
    padding-bottom: 40px;
    width: 94%;
}

.registerform h1 {
    font-size: 30pt;
    padding-bottom: 55px;
}

legend {
    font-size: 30px;
    padding: 10px;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: inline-block;
    width: 90%;
    height: 30px;
    border: 1px solid var(--color-3);
    visibility: visible;
    background-color: white;
    color: black;
    padding-left: 5px;
}

label {
    float: left;
    clear: none;
    display: block;
}

input[type=radio] {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-3);
    visibility: visible;
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
    accent-color: var(--color-6);
}

.confirmation input[type=checkbox] {
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-3);
    visibility: visible;
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
    accent-color: var(--color-6);
}

.confirmation label {
    padding-left: 10px;
}

.gender label {
    padding: 0px 1em 0px 8px;
}

.name {
    padding-top: 10px;
    padding-left: 20px;
}

.email {
    padding-top: 30px;
    padding-left: 20px;
}

.experience {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: black;
    font-size: 16px;
}

.experience label {
    padding-right: 5px;
    color: var(--color-3);
}

.experience option {
    background: white;
}

.experience select {
    display: inline-block;
    background: white;
    color: black;
    font-size: 14px;
    padding: 2px;
}

.age {
    padding-left: 20px;
}

.gender {
    padding-left: 20px;
}

.telno {
    padding-left: 20px;
}

.confirmation {
    padding-left: 20px;
    padding-bottom: 20px;
}

.reg {
    padding: 5% 35%;
    padding-bottom: 30px;
}

#confirmModal {
    position: absolute;
    display: block;
    visibility: visible;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: rgb(87, 79, 79);
    background-color: rgba(128, 113, 113, 0.259);
}

.details {
    width: 34%;
    margin: 0 32%;
    background: var(--color-4);
    padding: 1%;
    border: 3px solid rgba(0, 0, 0, 0.548);
    border-radius: 5px;
}

.details p,
h2,
strong {
    background-color: transparent;
    color: black;

}

.details span{
    background-color: transparent;
    color: black;

}

.details h2 {
    text-align: center;
}

#confirmBtn {
    padding: 2%;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    margin-right: 20%;
    background-color: var(--color-2);
}

#cancelBtn {
    float: right;
    padding: 2%;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    margin-left: 20%;
    background-color: var(--color-2);
}


@media(max-width: 900px) {
    .events {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 25%;
        background: var(--color-2);
    }

    .registerform {
        font-size: medium;
    }

    .details {
        width: 44%;
        margin: 0 27%;
    }
}


@media(max-width: 700px) {
    .events {
        width: 60%;
        margin: 0 20%;
    }

    .registerform {
        font-size: smaller;
    }

    .details p,
    h2,
    strong,
    span {
        font-size: medium;
    }

    .details {
        width: 54%;
        margin: 0 22%;
    }

    #confirmBtn, #cancelBtn{
        font-size: medium;
    }
}